* {
  font-family: 'Merriweather', serif;
  --blue: #1A8FE3;
  --purple: #BEA2C2;
  --grey: #4E4B5C;
  color: var(--grey);
}

body, html {
  margin: 0;
  padding: 0;
  background: #FAFAFA;
}

.container {
  width: 100%;
  height: 100vh;
  padding-top: 12px;
  padding-left: 96px;
  padding-right: 96px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}

.container-regular {
  min-height: 100vh;
  padding-top: 12px;
  padding-left: 96px;
  padding-right: 96px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  position: relative;
  padding-bottom: 52px;
}

@media only screen and (max-width: 940px) {
  .container {
    align-items: flex-start;
    padding-top: 0px;
    padding-left: 24px;
    padding-right: 24px;
  }
  .container-regular {
    padding-top: 0px;
    padding-left: 24px;
    padding-right: 24px;
  }
  h3 {
    align-self: flex-start;
    margin-bottom: -18px;
    font-size: 24px;
  }
  h1 {
    font-size: 3rem;
    margin-bottom: -18px;
  }
  img:nth-child(2) {
    right: 100px;
  }
  img:first-child {
    right: -24px;
  }
  h4 {
    margin-top: 96px;
  }
}

.container img {
  position: absolute;
  bottom: -100vh;
  width: 400px;
  z-index: 0;
}
.container h1, .container h2 {
  z-index: 10;
}
img:first-child {
  animation: intro1 10s;
  animation-fill-mode: forwards;
}
@keyframes intro1 {
  0% {
    bottom: -100vh;
  }
  100% {
    bottom: 10vh;
  }
}

img:nth-child(2) {
  animation: intro2 8s;
  animation-fill-mode: forwards;
  animation-delay: 1.5s;
}
@keyframes intro2 {
  0% {
    bottom: -100vh;
  }
  100% {
    bottom: -5vh;
  }
}

@media only screen and (min-width: 940px) {
  h1, h3 {
    font-size: 6rem;
    margin-bottom: -64px;
    align-self: flex-end;
    margin-top: 42px;
  }
  h3 {
    align-self: flex-end;
  }
  h2 {
    font-size: 5rem;
  }
  img:nth-child(2) {
    right: 200px;
  }
  img:first-child {
    right: 24px;
  }
  h4 {
    margin-top: 124px;
  }
  .care-subtitle {
    text-align: right;
    max-width: 1200px;
  }
  @keyframes intro1 {
    0% {
      bottom: -100vh;
      opacity: 1;
    }
    100% {
      bottom: 10vh;
      opacity: 0.5;
    }
  }
  @keyframes intro2 {
    0% {
      bottom: -100vh;
      opacity: 1;
    }
    100% {
      bottom: -5vh;
      opacity: 0.5;
    }
  }
}

h1 {
  font-weight: 300;
}
h1 strong {
  font-weight: 900;
}
h2 {
  font-weight: 300;
}
h3 {
  font-weight: 300;
  color: var(--purple);
}

.care-title, .care-title strong {
  color: var(--blue);
}

.brand-name {
  position: absolute;
  left: 56px;
  bottom: 56px;
  font-size: 1rem;
  font-weight: 900;
  color: var(--blue);
  z-index: 20;
}

.arrow-down {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 54px;
  z-index: 20;
  animation: pulse 2s infinite;
}
.arrow-down img {
  width: 28px;
}
@keyframes pulse {
  0% {
    bottom: 54px;
  }
  60% {
    bottom: 64px;
  }
  80% {
    bottom: 54px;
  }
  90% {
    bottom: 60px;
  }
  100% {
    bottom: 54px;
  }
}

h4 {
  color: var(--purple);
  font-weight: 300;
}

p {
  margin-top: -12px;
  text-indent: 50px;
  max-width: 550px;
}

.no-indent {
  text-indent: 0px;
}

h4, p {
  font-size: 120%;
}

input.email {
  width: 100%;
  max-width: 550px;
  height: 42px;
  padding: 12px;
  box-sizing: border-box;
  border-radius: 3px;
  border-style: none;
  border: solid 1px var(--blue);
}

.button {
  height: 42px;
  padding: 12px;
  box-sizing: border-box;
  border-radius: 3px;
  border-style: none;
  background: var(--blue);
  color: white;
  margin-top: 12px;
  max-width: 550px;
  width: 100%;
}

.copyright {
  font-size: 14px;
  text-align: center;
  text-indent: 0px;
  margin-bottom: 48px;
}

@media only screen and (min-width: 1025px) {
  video {
    position: absolute;
    right: 96px;
    bottom: 42px;
    width: 20vw;
    border: 2px solid var(--blue);
    border-radius: 3px;
  }
}

video {
  max-width: 550px;
  border: 2px solid var(--blue);
  border-radius: 3px;
  margin-top: 42px
}
